@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(201, 201, 201);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}


.logo {
    width: 200px;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    margin: 0 10px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 10px;
}

.banner {
    display: flex;
    height: 500px;
    margin-top: 20px;
}

.banner .text {
    width: 50%;
    padding: 20px;
}

.banner .text h1 {
    font-size: 40px;
    font-weight: bold;
}

.banner .text p {
    font-size: 20px;
    margin: 10px 0;
}

.banner .image {
    width: 50%;
}

.banner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, darkorchid, rgba(0, 0, 255, 0)) 1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.section {
    width: 25%;
    padding: 20px;
}

.section .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.section .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section .text {
    text-align: center;
}

.section .text h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.section .text p {
    font-size: 18px;
    margin: 10px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-top: 20px;
    background-color: lightgray;
}

.social {
    display: flex;
}

.social a {
    margin: 0 20px;
}

.social img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 5vh;
}

.info p {
    margin: 0;
}

.footer .logo {
    width: 100px;
}

.back-to-top a{
    color: #ebebeb; /* Couleur de base du texte */
    text-decoration: none;
    font-weight: bold;
}


.back-to-top {
    text-decoration: none;
    position: fixed;
    left: 3%;
    top: 6%;
    z-index: 999;
    background-color: #414141;
    color: #414141;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-to-top:hover{
    background-color: #a3a3a3;
    color: rgb(68, 68, 68);
    text-decoration: none;
}
.back-to-top:hover a {
    color: rgb(31, 31, 31);
    text-decoration: none; /* <-- Remove underline */
}